<% include header %>

<div class="container">
		 <div>
      		<a href="/connexion">
      			<button type="button" class="btn btn-danger">Connection</button>
      		</a>
    	</div>
    <hr>
    <div>
      	<a href="/inscription">
      		<button type="button" class="btn btn-danger">inscription</button>
      	</a>
    </div>
</div>

<% include footer %>